#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px; /*위아래 0px 좌우 30px*/
}

#login-form input {
    border:none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    font-size: 18px;
    padding: 15px 0px;
    margin-bottom: 25px;
    transition: border-color 0.3s ease-in-out;
}

#login-form input:not([type="submit"]){
    border-bottom: 1px solid rgba(0,0,0,0.2);
    transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
    color: rgba(0,0,0,0.4);
}


/*클릭하면 노란색으로 밑줄 표기됨*/
#login-form input:focus {
    border-color:  var(--yellow);
}

#login-form input[type="submit"]{
    background-color: var(--yellow);
    cursor: pointer; /*갖다대면 손모양으로 바뀜*/
    padding: 20px 0px;
    border-radius: 5px;
}

#login-form a {
    text-align: center;
    text-decoration: none;
    color: inherit; /*상속 받아서 블랙색상을 보여줌*/
    font-size: 13px;
}